/*navbar css*/
.navbar-container{
    margin-bottom: 50px;
}
.navbar-container>.navbar{
    background-color: #0056b3!important;
    min-height: 50px;
}
.navbar-container>.navbar li a{
    text-decoration: none;
    color: white!important;
}
.navbar-container>.navbar .navbar-nav li{
    margin-left: 30px;
    font-weight: 300;
    transition: .5s;
    padding-bottom: 2px;
    min-height: 30px;

}
.navbar-container>.navbar .navbar-nav li:hover{
    border-bottom: thin solid white;
}
/*navbar css finished*/
table{
    border: thin solid gray;

}

table, td, th{
    border-collapse: collapse;
}
.sidebar{
  border: thin solid #0056b3;
    min-height: 100vh;
    border-radius: 10px;
    padding: 5px;
        box-shadow: 1px 1px 10px gray;


}
.sidebar a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.sidebar li{
    padding: 5px!important;
    margin: 0px!important;
    transition: .2s;
}
.sidebar li:hover{
    background-color: #003b7a;
    color: white;
}
.container-fluid .row .col-sm-10{
    border: thin solid #0056b3;
    /*min-height: 100vh;*/
    border-radius: 10px;
    padding: 5px;
}
.col-sm-10 div form{
    /*box-shadow: 1px 1px 50px gray;*/
    padding: 10px;
    border-radius: 3px;
    margin: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.col-sm-10 div form .btn{
    background-color: transparent!important;
    border:thin solid green;
    color: black;
    transition: .5s;
}
.col-sm-10 div form .btn:hover{
   box-shadow: inset 1px 1px 50px black;
    color: white;
    border: thin solid black;
}
/*for data table*/